RewriteEngine On

# Redirect .php requests to the URL without extension (External Redirect)
# Skip redirect for POST requests to preserve form data
# RewriteCond %{REQUEST_METHOD} !POST
# RewriteCond %{REQUEST_URI} !process_contact\.php
# RewriteCond %{THE_REQUEST} \s/+(.+?)\.php[\s?] [NC]
# RewriteRule ^ /%1 [R=301,L]

# Existing Blog Rule
RewriteRule ^blogs/([a-zA-Z0-9-]+)$ blog-single.php?slug=$1 [L,QSA]


# Handle pages without .php extension (Internal Rewrite)
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}.php -f
RewriteRule ^([^\.]+)$ $1.php [NC,L]